* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

header {
    background: #1e1e1e;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.seccion {
    padding: 40px;
    background: white;
    margin: 20px;
    border-radius: 8px;

    /* Estas líneas son nuevas */
    opacity: 0;                 /* Empieza invisible */
    transform: translateY(0);/* Empieza un poco abajo */
    transition: all 0.8s ease;  /* Movimiento suave */
}


button {
    padding: 10px 20px;
    cursor: pointer;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    background: #1e1e1e;
    color: white;
    text-align: center;
    padding: 15px;
}



